<TelerikTabStrip PersistTabContent="false" Class="report-tabs">
    <TabStripTab Title="Pages">
        @if (FilteredPageRows.Any())
        {
            <div class="grid-toolbar">
                <div><h3>All Pages</h3></div>
                <TelerikTextBox Value="@_searchPages"
                                ValueChanged="@(value => _searchPages = value)"
                                Placeholder="Search pages"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredPageRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(LabelValueRow.Label)" Title="Page" />
                    <GridColumn Field="@nameof(LabelValueRow.ValueLabel)" Title="Hits" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No pages found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="IPs">
        @if (FilteredIpRows.Any())
        {
            <div class="grid-toolbar">
                <div><h3>IP Addresses</h3></div>
                <TelerikTextBox Value="@_searchIPs"
                                ValueChanged="@(value => _searchIPs = value)"
                                Placeholder="Search IPs"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredIpRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(LabelValueRow.Label)" Title="IP Address" />
                    <GridColumn Field="@nameof(LabelValueRow.ValueLabel)" Title="Hits" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No IP addresses found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Errors">
        @if (FilteredErrorRows.Any())
        {
            <div class="grid-toolbar">
                <div><h3>Error Pages</h3></div>
                <TelerikTextBox Value="@_searchErrors"
                                ValueChanged="@(value => _searchErrors = value)"
                                Placeholder="Search errors"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredErrorRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(LabelValueRow.Label)" Title="Page" />
                    <GridColumn Field="@nameof(LabelValueRow.ValueLabel)" Title="Hits" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No error pages found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Documents">
        @if (FilteredDocumentRows.Any())
        {
            <div class="grid-toolbar">
                <div>
                    <h3>Documents</h3>
                </div>
                <TelerikTextBox Value="@_searchDocs"
                                ValueChanged="@(value => _searchDocs = value)"
                                Placeholder="Search documents"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredDocumentRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(DocumentRow.File)" Title="File" />
                    <GridColumn Field="@nameof(DocumentRow.TypeLabel)" Title="Type" Width="80px" />
                    <GridColumn Field="@nameof(DocumentRow.DownloadsLabel)" Title="Downloads" Width="110px" />
                    <GridColumn Field="@nameof(DocumentRow.AvgTimeLabel)" Title="Avg Time" Width="100px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No document downloads found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Popups">
        @if (FilteredPopupRows.Any())
        {
            <div class="grid-toolbar">
                <div><h3>Popups</h3></div>
                <TelerikTextBox Value="@_searchPopups"
                                ValueChanged="@(value => _searchPopups = value)"
                                Placeholder="Search popups"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredPopupRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(LabelValueRow.Label)" Title="Type" />
                    <GridColumn Field="@nameof(LabelValueRow.ValueLabel)" Title="Hits" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No popup control types found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Status Codes">
        @if (FilteredStatusRows.Any())
        {
            <div class="grid-toolbar">
                <div>
                    <h3>Status Codes</h3>
                </div>
                <TelerikTextBox Value="@_searchStatus"
                                ValueChanged="@(value => _searchStatus = value)"
                                Placeholder="Search status"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredStatusRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(StatusRow.StatusLabel)" Title="Status" />
                    <GridColumn Field="@nameof(StatusRow.CountLabel)" Title="Count" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No status codes found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Slow Pages">
        @if (FilteredSlowPageRows.Any())
        {
            <div class="grid-toolbar">
                <div>
                    <h3>Slow Pages</h3>
                </div>
                <TelerikTextBox Value="@_searchSlow"
                                ValueChanged="@(value => _searchSlow = value)"
                                Placeholder="Search slow pages"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredSlowPageRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(SlowPageRow.Page)" Title="Page" />
                    <GridColumn Field="@nameof(SlowPageRow.AvgTimeLabel)" Title="Avg Time (ms)" Width="130px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No slow pages found.</div>
        }
    </TabStripTab>

    <TabStripTab Title="Hourly Hits">
        @if (FilteredHourRows.Any())
        {
            <div class="grid-toolbar">
                <div>
                    <h3>Hourly Hits</h3>
                </div>
                <TelerikTextBox Value="@_searchHours"
                                ValueChanged="@(value => _searchHours = value)"
                                Placeholder="Search hours"
                                Width="260px"
                                ShowClearButton="true"
                                FillMode="@ThemeConstants.TextBox.FillMode.Outline"
                                Size="@ThemeConstants.TextBox.Size.Small" />
            </div>

            <TelerikGrid Data="@FilteredHourRows"
                         Pageable="true"
                         Sortable="true"
                         Resizable="true"
                         PageSize="12"
                         Size="@ThemeConstants.Grid.Size.Small">
                <GridColumns>
                    <GridColumn Field="@nameof(HourRow.HourLabel)" Title="Hour" />
                    <GridColumn Field="@nameof(HourRow.HitsLabel)" Title="Hits" Width="120px" />
                </GridColumns>
            </TelerikGrid>
        }
        else
        {
            <div class="empty-state">No hourly data found.</div>
        }
    </TabStripTab>
</TelerikTabStrip>

<style>
    .report-tabs {
        display: block;
    }

    .grid-toolbar {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.85rem;
    }

    .grid-toolbar h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        color: var(--shell-text) !important;
        opacity: 1 !important;
    }

    .empty-state {
        padding: 1rem 0.25rem 0.5rem;
        color: var(--shell-subtle);
    }

    @@media (max-width: 720px) {
        .grid-toolbar {
            align-items: stretch;
            flex-direction: column;
        }
    }
</style>

@code {
    [Parameter]
    public IISLogViewer.Services.LogReport? ReportData { get; set; }

    // Search strings for each distinct tab
    private string _searchPages = "";
    private string _searchIPs = "";
    private string _searchErrors = "";
    private string _searchDocs = "";
    private string _searchPopups = "";
    private string _searchStatus = "";
    private string _searchSlow = "";
    private string _searchHours = "";

    private IEnumerable<LabelValueRow> FilteredPageRows => FilterLabelValueRows(ReportData?.PageHits, _searchPages);
    private IEnumerable<LabelValueRow> FilteredIpRows => FilterLabelValueRows(ReportData?.TopIPs, _searchIPs);
    private IEnumerable<LabelValueRow> FilteredErrorRows => FilterLabelValueRows(ReportData?.ErrorPages, _searchErrors);
    private IEnumerable<LabelValueRow> FilteredPopupRows => FilterLabelValueRows(ReportData?.PopupHits, _searchPopups);
    private IEnumerable<DocumentRow> FilteredDocumentRows => (ReportData?.DocumentHits ?? [])
        .Select(item =>
        {
            var ext = Path.GetExtension(item.Key).ToLowerInvariant();
            var avgMs = ReportData?.DocumentAvgTime.GetValueOrDefault(item.Key) ?? 0;
            return new DocumentRow(
                item.Key,
                string.IsNullOrWhiteSpace(ext) ? "unknown" : ext.TrimStart('.'),
                item.Value.ToString("N0"),
                $"{avgMs:N0} ms");
        })
        .Where(item => FilterCore($"{item.File} {item.TypeLabel}", _searchDocs))
        .OrderByDescending(item => int.Parse(item.DownloadsLabel.Replace(",", string.Empty)));

    private IEnumerable<StatusRow> FilteredStatusRows => (ReportData?.StatusCodes ?? [])
        .OrderByDescending(item => item.Value)
        .Select(item => new StatusRow(item.Key.ToString(), item.Value.ToString("N0")))
        .Where(item => FilterCore(item.StatusLabel, _searchStatus));

    private IEnumerable<SlowPageRow> FilteredSlowPageRows => (ReportData?.SlowPages ?? [])
        .Select(item => new SlowPageRow(item.Key, $"{item.Value:N0} ms"))
        .Where(item => FilterCore(item.Page, _searchSlow))
        .OrderByDescending(item => ParseMetric(item.AvgTimeLabel));

    private IEnumerable<HourRow> FilteredHourRows => (ReportData?.HourlyHits ?? [])
        .OrderByDescending(item => item.Value)
        .Select(item => new HourRow(item.Key.ToString("D2"), item.Value.ToString("N0")))
        .Where(item => FilterCore(item.HourLabel, _searchHours));

    private bool FilterCore(string search, string searchStr)
    {
        if (string.IsNullOrWhiteSpace(searchStr))
            return true;
        return search.Contains(searchStr, StringComparison.OrdinalIgnoreCase);
    }

    private IEnumerable<LabelValueRow> FilterLabelValueRows(IEnumerable<KeyValuePair<string, int>>? source, string searchText) =>
        (source ?? [])
            .Where(item => FilterCore(item.Key, searchText))
            .OrderByDescending(item => item.Value)
            .Select(item => new LabelValueRow(item.Key, item.Value.ToString("N0")));

    private static int ParseMetric(string value) =>
        int.TryParse(value.Replace(" ms", string.Empty).Replace(",", string.Empty), out var parsed) ? parsed : 0;

    private sealed record LabelValueRow(string Label, string ValueLabel);
    private sealed record DocumentRow(string File, string TypeLabel, string DownloadsLabel, string AvgTimeLabel);
    private sealed record StatusRow(string StatusLabel, string CountLabel);
    private sealed record SlowPageRow(string Page, string AvgTimeLabel);
    private sealed record HourRow(string HourLabel, string HitsLabel);
}
